/.libs
/.deps
/.settings
/.cproject
/.project
/*.cache
/.libs
/modules
/config.h*
/config.guess
/ac*.m4
/config
/build
/install*
/libtool
/ltmain*
/run-tests.php
/missing
/mkinstalldirs
/Makefile*
*.lo
*.la
/config.nice
/config.status
/config.sub
/configure
/configure.in
